{% extends "structure.html" %}

{% block main %}
<main class="form-signin">   
    <h1>You are logged in</h1>

    <br>
    {{message | safe}}
    <br>
    <br>
    
    <a href="/newquiz">
    <button class="w-100 btn btn-lg btn-primary">Create Quiz</button>
    </a>
    <br>

    {{button | safe}}
    
    <a href="/logout">  
    <button class="w-100 btn btn-lg btn-primary">Log Out</button>  
    </a>
    
    <div style="position: fixed; bottom: 1%; left: 1%;">

        <br>
        <br>
        <p class="mt-5 mb-3 ">Chris Joubert &copy; 2022</p>
        
    </div>


</main> 

{% endblock main %}