{% extends "structure.html" %}

{% block main %}
<main class="form-signin">    
    
    <h1 class="h3 mb-3 fw-normal">Quiz Creator<br>Home Page</h1>
    <p>{{ message }}</p>
    
    <br>
    <div>

    <a href="/signup">
    <button class="w-100 btn btn-lg btn-primary">Create a new account</button>
    </a>
    <br>
    
    <a href="/login">  
    <button class="w-100 btn btn-lg btn-primary">Login</button>  
    </a>
    </div>

    <div style="position: fixed; bottom: 1%; left: 1%;">

        <br>
        <br>
        <a href="https://om3g424747.github.io/Chris_Joubert_resume/" target="_blank">
        <p class="mt-5 mb-3 ">Chris Joubert &copy; 2022</p>
        </a>
        
    </div>

</main>

{% endblock main %}