{% extends "structure.html" %}

{% block main %}

    <main class="form-signin">
        <form action="/login" method="post">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="Email" >
            <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" >
            <label for="floatingPassword">Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <br>
            <p>{{ message }}</p>
            <br>
        </form>

        <div class="form-floating">
        <a href="/signup">
        <button class="w-100 btn btn-lg btn-primary" id="floatingInput">Create a new account</button>
        </a>

        <a href="/">  
        <button class="w-100 btn btn-lg btn-primary" id="floatingInput">Homepage</button>  
        </a>
        </div>

        <div style="position: fixed; bottom: 1%; left: 1%;">

            <br>
            <br>
            <a href="https://om3g424747.github.io/Chris_Joubert_resume/" target="_blank">
            <p class="mt-5 mb-3 ">Chris Joubert &copy; 2022</p>
            </a>
            
        </div>
        
        </main>


    <br>
    

{% endblock main %}