{% extends "structure.html" %}

{% block main %}
<main class="form-signin">   
    <h1>Create Quiz</h1>

    <!-- 
        add button to go to edit test options
        add checkbox to automatically continue to edit screen
    
    -->


    <form action="/newquiz" method="post"> 
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Test Name</label>
            <input type="text" class="form-control" name="testname" placeholder="Test Name">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Number of questions</label>
            <input type="number" class="form-control" name="number" placeholder="Number of questions">
        </div>

        {{message | safe}}
        
        <button class="w-100 btn btn-lg btn-primary" type="submit">Create Quiz</button>
    
    </form>

    {{button | safe}}

    <br>
    <a href="/dashboard">  
    <button class="w-100 btn btn-lg btn-primary">Dashboard</button>  
    </a>

        <div style="position: fixed; bottom: 1%; left: 1%;">

            <br>
            <br>
            <p class="mt-5 mb-3 ">Chris Joubert &copy; 2022</p>
            
        </div>

</main> 

{% endblock main %}