{% extends "structure.html" %}

{% block main %}
<main class="form-signin">   
    <h1>Create Quiz</h1>

    <!-- 
        add button to go to edit test options
        add checkbox to automatically continue to edit screen
    
    -->


    <form action="/newquiz" method="post"> 
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Testname</label>
            <input type="text" class="form-control" name="testname" placeholder="Testname">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Number of questions</label>
            <input type="number" class="form-control" name="number" placeholder="Number of questions" onchange="this.form.submit();">
        </div>

        {{message | safe}}
        
        <button class="w-100 btn btn-lg btn-primary" type="submit">Create Quiz</button>
    
    </form>

    <br>
    <a href="/dashboard">Dashboard</a>
</main> 

{% endblock main %}