{% extends "structure.html" %}

{% block main %}
<main class="form-signin">   
    <h1>Edit Quiz</h1>

    <!-- 
    populate quiz sceen with the number of questions for the quiz

    create method - check question number for contents
    -> if the question number has contents replace the placeholder
    -> DON'T EDIT selection left blank!
    -> give progress bar at the bottom 
    
    -->

    <form action="/quizsetup" method="post">
    {{selection | safe}}
    <br>
    <br>
    {{message | safe}}


    <br>
    <br>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Testname</label>
            <input type="text" class="form-control" name="testname" placeholder="Testname">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Number of questions</label>
            <input type="number" class="form-control" name="number" placeholder="Number of questions" onchange="this.form.submit();">
        </div>
    </form>

    <form action="/quizsetup" method="post"></form>
        <!--- update section to include function to display questions for selected quiz --->
        {{questions | safe}}
        
        
        <button class="w-100 btn btn-lg btn-primary" type="submit">Save Quiz</button>
    
    </form>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="description" rows="3"></textarea>
    </div>
    <br>
    <a href="/dashboard">Dashboard</a>
</main> 

{% endblock main %}