{% extends "structure.html" %}

{% block main %}
<main class="form-signin">   
    <h1>Edit Quiz</h1>

    <!-- 
    populate quiz sceen with the number of questions for the quiz

    create method - check question number for contents
    -> if the question number has contents replace the placeholder
    -> DON'T EDIT selection left blank!
    -> give progress bar at the bottom 
    
    -->

    <form action="/quizsetup" method="post">
    {{selection | safe}}
    <br>
    <br>
    {{message | safe}}


    <br>
    <br>
        

        <!--- update section to include function to display questions for selected quiz --->
        {{questions | safe}}
        
        
        <button class="w-100 btn btn-lg btn-primary" type="submit">Save Quiz</button>
    
    </form>

    
    <br>
    <a href="/dashboard">
    <button class="w-100 btn btn-lg btn-primary" type="submit">Dashboard</button>
    </a>

    <div style="position: fixed; bottom: 1%; left: 1%;">

        <br>
        <br>
        <p class="mt-5 mb-3 ">Chris Joubert &copy; 2022</p>
        
    </div>
</main> 

{% endblock main %}