{% extends "structure.html" %}

{% block main %}
    <main class="form-signin">
        <form action="/signup" method="post"> 
            <h1 class="h3 mb-3 fw-normal">Please register your account</h1>

            <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">
            <label for="floatingInput">Username</label>
            </div>
            
            <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">Password</label>
            </div>
            
            <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="Email" name="email">
            <label for="floatingInput">Email</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="Firstname" name="firstname">
                <label for="floatingInput">Firstname</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="Lastname" name="lastname">
                <label for="floatingInput">Lastname</label>
            </div>

            <div class="checkbox mb-3">
                <input type="checkbox" name="displayname" value="True">
                <label for="sports">Display real name</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>

            <br>
            <p>{{ message }}</p>
            <br>
        </form>

        <a href="/login">  
        <button class="w-100 btn btn-lg btn-primary">Login</button>  
        </a>

        <br>

        <a href="/">
        <button class="w-100 btn btn-lg btn-primary">Homepage</button>
        </a>

        <div style="position: fixed; bottom: 1%; left: 1%;">

            <br>
            <br>
            <a href="https://om3g424747.github.io/Chris_Joubert_resume/" target="_blank">
            <p class="mt-5 mb-3 ">Chris Joubert &copy; 2022</p>
            </a>
            
        </div>

        </main>
<br>
<br>


{% endblock main %}