{% extends "structure.html" %}

{% block main %}
    <main class="form-signin">
        <form action="/signup" method="post"> 
            <h1 class="h3 mb-3 fw-normal">Please register your account</h1>

            <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">
            <label for="floatingInput">Username</label>
            </div>
            
            <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">Password</label>
            </div>
            
            <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="Email" name="email">
            <label for="floatingInput">Email</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="Firstname" name="firstname">
                <label for="floatingInput">Firstname</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="Lastname" name="lastname">
                <label for="floatingInput">Lastname</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="displayname" value="True">Display real name
                </label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>

            <br>
            <p>{{ message }}</p>
            <br>
            <a href="/login">Login to existing account</a>
            <br>
            <a href="/">Return to homepage</a>

        </form>
        </main>
<br>
<br>


{% endblock main %}