
<!doctype html>
<html lang="en">
  <head>
    <title>Quiz creator</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">

    

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Favicons -->

    <meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      canvas {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.1/examples/sign-in/signin.css" rel="stylesheet">
    </head>
    <body class="text-center">
      
      <!-- Canvas to add a 3D animated background -->
      <canvas id="bg"></canvas>
      <script src="https://threejs.org/build/three.js"></script>
      
      
      <!-- Script for 3D geometry test  -->
      <script>
        var scene = new THREE.Scene();
        var camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);
    

        var renderer = new THREE.WebGLRenderer({
          canvas: document.querySelector('#bg'),
          alpha: true,
        });

        renderer.setSize( window.innerWidth, window.innerHeight );
        document.body.appendChild( renderer.domElement );

        
        var cubeTexture = new THREE.TextureLoader().load('/static/img/moon.jpg');
        
        var geometry = new THREE.BoxGeometry( 2, 2, 2 );
        var material = new THREE.MeshStandardMaterial( { color: 0x63ff47 } );
        var cube = new THREE.Mesh( geometry, material );
        scene.add( cube );

        var geometry = new THREE.SphereGeometry(4, 32, 32);
        var material = new THREE.MeshBasicMaterial({ map: cubeTexture });
        var moon = new THREE.Mesh( geometry, material );
        scene.add( moon );

        var pointLight = new THREE.PointLight(0xffffff);
        pointLight.position.set(1, 1, 1);

        var ambientLight = new THREE.AmbientLight(0xffffff);
        scene.add(pointLight, ambientLight);

        function addStar() {
          const geometry = new THREE.SphereGeometry(0.25, 24, 24);
          const material = new THREE.MeshStandardMaterial({ color: 0x555555 });
          const star = new THREE.Mesh(geometry, material);

          const [x, y, z] = Array(3)
            .fill()
            .map(() => THREE.MathUtils.randFloatSpread(100));

          star.position.set(x, y, z);
          scene.add(star);
        }

        Array(200).fill().forEach(addStar);


        camera.position.z = 7;
        

        var animate = function () {
          requestAnimationFrame( animate );

          cube.rotation.x += 0.01;
          cube.rotation.y += 0.01;

          cube.position.x = 0;
          cube.position.y = 2.5;


          moon.rotation.x += 0.001;
          moon.position.x = 0;
          moon.position.y = -4.5;
          moon.position.z = 6.1;

          renderer.render( scene, camera );
        };

        animate();

      </script>
      
      

      
      {% block main %}

        
            <main class="form-signin">
            <form>
                <img class="mb-4" src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
                </div>

                <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
            </form>
            </main>


        {% endblock main %}


    </body>
</html>
